body {
  width: 700px;
  height: 500px;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  color: #fff;
  padding: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
  text-align: right
}

.input-container button {
  padding: 3px 7px;
}


button {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #ff4e44;
  transform: scale(1.05);
}

a {
  color: #ff6f61;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0;
}

a:hover {
  background-color: #ff4e44;
  border-radius: 25% 10%;
  color: #fff;
}

a.disabled {
  color: #999;
  pointer-events: none;
}

#copied {
  background-color: #ff6f61;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}

#copied.show-copied {
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(0);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.devmate-title {
  font-size: 24px;
  text-align: center;
  color: #ff6f61;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.comingSoon {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
  pointer-events: none;
}

.comingSoon:hover::after {
  content: "This feature under development";
  display: block;
  position: absolute;
  background-color: #ff6f61;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  z-index: 1;
  transition: opacity 0.3s;
  opacity: 1;
}

.comingSoon::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s;
}

.comingSoon:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.remove-button {
  background-color: transparent !important;
  font-weight: bold;;
  color: #fff;
  border-radius: 10% 25%;
  cursor: pointer;
}

.remove-button:after {
  content: 'X'
}

.remove-button:hover {
  background-color: #ff6f61 !important;
}


.remove-button:hover:after {
  opacity: 1;
  content: "Remove";

}

